body{
	width: 100%;
	height: 100vh;
	color: black;
	font-size: 1.5em;
	 background: white;
     background: -webkit-radial-gradient(circle, white, pink, black);
     background: -o-radial-gradient(circle, white, pink, black);
     background: -moz-radial-gradient(circle, white, pink, black);
     background: radial-gradient(circle, white, gray, black);
}

.header {
	width: 100vh;
	text-align: center;
	margin-left: 8em;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	transform-origin: left top 0;
}

.title {
	text-shadow: -1px -1px 0 #990000, 1px -1px 0 #990000, -1px 1px 0 #990000, 1px 1px 0 #990000;
	font-family: 'Orbitron', "sans-serif";
	color: #440033;
	font-size: 7em;
}

.workspace{
}

#screen {
	position: fixed;
	height: 260px;
	width: 260px;
	margin-top: 0.2em;
	margin-left: 0.2em;
	padding-top: 2em;
	padding-left: 0.1em;
	color: red;
	font-family: "Orbitron", "sans-serif";
	font-size: 3.5em;
	overflow-wrap: break-word;
	text-align: center;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	z-index: 3;
	background: black;
	background: -webkit-radial-gradient(circle, #660000, #330000,black);
    background: -o-radial-gradient(circle, #660000, #330000,black);
    background: -moz-radial-gradient(circle, #660000, #330000, black);
    background: radial-gradient(circle, #660000, #330000, black);
}

.screenHold {
	position: fixed;
	z-index: 2;
	margin: 6.5% auto;
	left: 0;
	right: 0;
	width: 284px;
	height: 284px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: black;
	border: 2px solid red;
}
#daHolder{
	position:absolute;
	right:0;
	bottom:0;
}
#red{
	height: 100vh;
	float:left;
}

.slide{
		width: auto;
		height: 100vh;
		float: right;
		clear: both;
}

#tooltip2{
	height: 100%;
	background-color: black;
	z-index: 5;
}

#custom-handle  {
	z-index: 10;
    background-color:  #990000;
}

#blue{
	height: 100vh;
	float:right;

}

#blueTop,#blueBottom{
	height: 50%;
	}

.btn {
	height: 100%;
	width: 1.5em;
	padding-top: 17vh;
	z-index: 4;
	background-color: inherit;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	text-shadow: -1px -1px 0 #990000, 1px -1px 0 #990000, -1px 1px 0 #990000, 1px 1px 0 #990000;
	font-family: 'Orbitron', "sans-serif";
	color: #440033;
}
.btn:hover {
	background-color: white;
	color: white;
	filter: invert(100);
}
#spin,#spinP{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
#pause{
}
#work{
}

.footsy {
	color: white;
	font-size: 3em;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	background-color: #220000;
	position: fixed;
	width: 50px;
	height: 50px;
	margin: 1.5% auto;
	left: 0;
	right: 0;
	bottom: 0%;
	border: 2px solid #990000;
}

.footsy:hover{
	background-color: #221133;
}
